/* @font-face {
  font-display: swap;
  font-style: bold;
  src: url("assets/fonts/OpenSansRomanSemiBold.ttf");
  font-family: "Open Sans";
  font-weight: 600;
} */

/* @font-face {
  font-display: swap;
  font-style: normal;
  src: url("assets/fonts/DMSansRegular.ttf");
  font-family: "DM Sans";
  font-weight: 400;
} */

@font-face {
  font-display: swap;
  font-style: bold;
  src: url("assets/fonts/SourceSansProSemiBold.ttf");
  font-family: "Source Sans Pro";
  font-weight: 600;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("assets/fonts/HindRegular.ttf");
  font-family: "Hind";
  font-weight: 400;
}

/* @font-face { font-display: swap; font-style : bold; src: url("assets/fonts/OpenSansRomanBold.ttf"); font-family : "Open Sans"; font-weight : 700;  } */
/* @font-face {
  font-display: swap;
  font-style: normal;
  src: url("assets/fonts/MontserratRegular.ttf");
  font-family: "Montserrat";
  font-weight: 400;
} */

/* @font-face {
  font-display: swap;
  font-style: bold;
  src: url("assets/fonts/SpaceGroteskBold.ttf");
  font-family: "Space Grotesk";
  font-weight: 700;
} */

/* @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/OpenSansRomanRegular.ttf"); font-family : "Open Sans"; font-weight : 400;  } */
/* @font-face { font-display: swap; font-style : bold; src: url("assets/fonts/MontserratRomanBold.ttf"); font-family : "Montserrat"; font-weight : 700;  } */
/* @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/SpaceGroteskRegular.ttf"); font-family : "Space Grotesk"; font-weight : 400;  } */